.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 100%;
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --text-preset-1: 800 clamp(1.25rem, 1.162rem + 0.376vw, 1.5rem) / 150%
    "Figtree";
  --text-preset-2: 500 clamp(0.875rem, 0.831rem + 0.188vw, 1rem) / 150%
    "Figtree";
  --text-preset-3: 500 clamp(0.75rem, 0.706rem + 0.188vw, 0.875rem) / 150%
    "Figtree";
  --text-preset-4: 800 clamp(0.75rem, 0.706rem + 0.188vw, 0.875rem) / 150%
    "Figtree";
  /*Spacing*/
  --300: 1.5rem; /*24px*/
  --150: 0.75rem; /*12px*/
  --100: 0.5rem; /*8px*/
  --50: 0.25rem; /*4px*/
}
p {
  font-family: "Figtree";
  font-size: 1rem; /*16px*/
}
body {
  background-color: var(--yellow);
  overflow: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  gap: 20px;
}
.blog-card {
  background-color: white;
  display: flex;
  flex-direction: column;

  border-radius: 1.25rem;
  width: auto;
  max-width: 24rem;
  gap: 1.5rem;
  box-shadow: 0px 0px 0px 1px var(--gray-950) inset, 0.5rem 0.5rem black;
  padding: 1.5rem;
}

.card-image {
  display: block;
  border-radius: 0.63rem;
  width: 100%;
  object-fit: fill;
}
.card-info {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.tag {
  background-color: var(--yellow);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  width: fit-content;
  font: var(--text-preset-4);
  color: var(--gray-950);
}
.date {
  font: var(--text-preset-3);
  color: var(--gray-950);
}
.topic {
  font: var(--text-preset-1);
  color: var(--gray-950);
  text-decoration: none;
}
.topic:hover {
  color: var(--yellow);
}
.topic:focus {
  color: var(--yellow);
  outline: none;
}

.presentation {
  font: var(--text-preset-2);
  color: var(--gray-500);
}
.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: var(--text-preset-4);
  color: var(--gray-950);
  gap: 0.75rem;
}
.author p {
  translate: 0 -0.19rem;
}
.author-pic {
  width: 2rem;
}
